@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* =====================
  General Styles
===================== */
html { font-size: 110%; }
html, body {
  height: 100%; /* Fullscreen BG */
  width: 100%;
}

body {
  color: #394c4a;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 2.3rem;
}

h3 {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 1.8rem;
}

h4 {
  color: #9da7a6;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

small {
  line-height: 1;
}

a {
  color: #5B62FF;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

a:focus,
a:hover {
  color: #fffefd;
}

hr {
  border-color: #cdd1cf;
  margin: 30px 0 60px;
}

section {
    background-color: #f4f4f4;
    min-height: 50vh;
}

/* =====================
  Navbar Styles
===================== */
.navbar-default {
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}
.navbar-header {
  height: 80px;
}
.navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-brand,
.navbar-nav > li > a {
  font-family: 'Roboto';
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}
.navbar-brand .logo {
  margin-right: 15px;
  margin-top: -12px;
  max-height: 90px;
}
.navbar-brand span {
  color: #5B62FF;
}
.navbar-nav > li > a,
.navbar-nav > li > button {
  color: #6b7a78;
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}
.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #5B62FF;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #208479;
  text-decoration: underline;
}
/* Fixed Menu */
.menu-fixed {
  background-color: #fffefd;
  background-color: rgba(255,254,253,0.97);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8,33,30,0.15);
  height: 60px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
}
.menu-fixed .navbar-header {
  height: 60px;
}
.menu-fixed .navbar-toggle,
.menu-fixed .navbar-nav > li > a {
  margin-top: 13px;
}
.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {
  background: linear-gradient(to right, #304f56 0%,
                                        #304f56 12.5%,
                                        #1c3e43 12.5%,
                                        #1c3e43 25%,
                                        #304e29 25%,
                                        #304e29 37.5%,
                                        #4f561c 37.5%,
                                        #4f561c 50%,
                                        #625618 50%,
                                        #625618 62.5%,
                                        #613814 62.5%,
                                        #613814 75%,
                                        #5d2a41 75%,
                                        #5d2a41 87.5%,
                                        #4c2742 87.5%);
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}
.jumbotron .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.jumbotron .row {
  padding-bottom: 45px;
}
.jumbotron .logo {
  max-width: 150px;
  width: 80%;
}
.jumbotron .title {
  color: #fff;
}
.jumbotron p {
  margin: 0;
  color: #fff;
}

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}
/*** Modal ***/
.modal-dialog.wide {
  width: 90%;
}
.modal-dialog.wide .row {
  margin: 0 0 30px;
}
.modal-dialog.wide .row .row {
  margin-left: -15px;
  margin-right: -15px;
}
.modal-header {
  border: none;
  padding: 30px 30px 0;
}
.modal-header .close {
  font-size: 2rem;
}
.modal-content {
  background-color: #fffefd;
  border: none;
  box-shadow: 0 3px 6px rgba(8,33,30,0.2);
}
.modal-body {
  padding: 30px;
}
.modal-body li {
  margin-bottom: 9px;
}
.modal-footer {
  padding: 30px 0 15px;
}
/* Fade Up Animation */
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, 100vh, 0);
  -ms-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-backdrop {
  background-color: #fffefd;
  z-index: 1025;
}
.modal-backdrop.in {
    opacity: 0.9;
}

/* =====================
  Buttons
===================== */
.td-btn {
  padding: 12px 36px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}
.td-btn + .td-btn {
  margin-left: 6px;
}
.td-btn.small {
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}
.outline {
  background-color: transparent;
  border: 1px solid #9da6a4;
  color: #9da6a4;
}
.outline:focus,
.outline:hover {
  background-color: #9da6a4;;
  color: #fffefd;
}
.outline.green {
  border-color: #5B62FF;
  color: #5B62FF;
}
.outline.green:focus,
.outline.green:hover {
  background-color: #5B62FF;
  color: #fffefd;
}
.outline.white {
  border-color: #fffefd;
  color: #fffefd;
}
.outline.white:focus,
.outline.white:hover {
  background-color: #fffefd;
  color: #5B62FF;
}

.iconBtn > img {
  margin-right: 6px;
  margin-top: -3px;
  width: 18px;
}
.iconBtn:focus > img,
.iconBtn:hover > img {
  -webkit-filter: brightness(10);
  filter: brightness(10);
}

/* =====================
    Images and Icons
===================== */
/* Profile Pic */
.profile {
  max-width: 180px;
  padding: 0 15px 0 0;
}

/* Socials Icons */
.social {
    margin: 0 10px;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social .fab {
    font-size: 3em;
}

/* Couleurs des logos */
.social .fa-linkedin {
    color: #0077b5;
}

.social .fa-github {
    color: #333;
}

/* Effet de survol */
.social:hover .fa-linkedin {
    color: #0056b3;
    transform: scale(1.5);
}

.social:hover .fa-github {
    color: #000;
    transform: scale(1.5);
}

/* =====================
  About section
===================== */

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ddd;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
    transform: translateX(-100%);
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    transform: translateX(0);
    text-align: left;
}

.timeline-circle {
    width: 20px;
    height: 20px;
    background-color: #5B62FF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.timeline-content {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.timeline-content h5 {
    margin: 0 0 5px;
    font-weight: bold;
}

/* =====================
  Portfolio Projects
===================== */
.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-item {
    flex: 1 1 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.portfolio-text {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    border-top: 1px solid #333;
    text-align: center;
    width: 100%;
}

.portfolio-text a {
    display: block;
    margin-bottom: 10px;
    color: #9da7a6;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.portfolio-text a:focus,
.portfolio-text a:hover {
    color: #5B62FF;
    text-decoration: none;
}

.portfolio-text a:first-child {
    margin-top: 10px;
}

.portfolio-text a:last-child {
    margin-bottom: 0;
}

.nuxtjs, .glide, .nextjs {
    width: 30%;
    height: auto;
    transition: all 0.3s ease;
}

.reactjs {
    width: 20%;
    height: auto;
    transition: all 0.3s ease;
}

.wordpress {
    width: 25%;
    height: auto;
    transition: all 0.3s ease;
}

.notion {
    width: 30%;
    height: auto;
    transition: all 0.3s ease;
}

.reactjs:hover, .nuxtjs:hover, .wordpress:hover, .glide:hover, .nextjs:hover, .notion:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    border-color: transparent;
    border-radius: 10%;
}

.qrcode {
    width: 20%;
    height: auto;
    margin-left: 50px;
}

/*** Project Modals ***/
.hero {
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}
.label.tag {
    background-color: #5B62FF;
    border-radius: 0;
    font-weight: normal;
}
/* To override button alignment in modals */
.center {
  text-align: center;
}

/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.bg-shadow {
  box-shadow: 0 1px 3px rgba(8,33,30,0.5);
}
.bg-white {
  background-color: #fffefd;
  position: relative;
}
.bg-pink {
  background-color: #df3778;
  color: #fffefd;
  position: relative;
}
.bg-star-y {
  background: #ffce3f url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/yellow-star.png?raw=true) fixed;
  background-size: 60px;
  color: #fffefd;
}
.bg-star-g {
  background: #5B62FF url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/green-star.png?raw=true) fixed;
  background-size: 60px;
  color: #fffefd;
}
.bg-honeycomb {
  background: #fffefd url(https://github.com/tiffanyadu/portfolio/blob/master/assets/imgs/honeycomb.png?raw=true) fixed;
  background-size: 24px;
}
.gray {
  color: #9da6a4;
}
.dashed {
  border-top: 2px dashed #ffce3f;
}

/* =====================
  Media Queries
===================== */
@media (max-width: 1199px) {
  /* Center class for medium screens */
  .md-center { text-align: center; }
}
@media (max-width: 991px) {
  /*** Resume ***/
  .year {
    text-align: left;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .carousel-inner img {
    max-width: 480px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /*** Page Elements ***/
  section .row [class^="col-sm-"] + [class^="col-sm-"],
  section .row [class*=" col-sm-"] + [class*=" col-sm-"] {
    margin-top: 30px;
  }
  /*** Jumbotron ***/
  .jumbotron .logo {
    max-width: 120px;
  }
  /*** Mobile Nav ***/
  .navbar-toggle {
    height: 36px;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .navbar-toggle .glyphicon {
    color: #6b7a78;
    top: -2px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border-color: #5B62FF;
  }
  .navbar-default .navbar-toggle .active {
    color: #5B62FF;
  }
  .navbar-collapse {
    background-color: #fffefd;
    background-color: rgba(255,254,253,0.97);
    border: none;
    box-shadow: 0 2px 8px rgba(8,33,30,0.2);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .navbar-collapse .outline.pink {
    margin: 15px auto 30px;
    max-width: 150px;
  }
  /*** Portfolio ***/
  #projects .carousel-control {
    margin-top: 300%;
  }
  #projects .card {
    text-align: center;
  }

  .portfolio-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-item {
        margin: 50px;
    }

    .reactjs, .nuxtjs, .wordpress, .notion {
        width: 50%;
        height: auto;
        transition: all 0.3s ease;
    }
    
    .reactjs:hover, .nuxtjs:hover, .wordpress:hover, .notion:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
        border-color: transparent;
        border-radius: 10%;
    }

    #contact .col-xs-12.col-sm-6 {
        margin-bottom: 50px;
    }
}

  
  #about ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  #about ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  #about ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  #about ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  #about ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  #about ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  #about ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  #about ul li .title,
  #about ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
  }
  #about ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  #about ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  #about ul li .title::before,
  #about ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  #about ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  #about ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    #about ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    #about ul::before {
      grid-column: 2;
    }
    #about ul li:nth-child(odd) {
      grid-column: 1;
    }
    #about ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    #about ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    #about ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    #about ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    #about ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
  #about .credits {
    margin-top: 1rem;
    text-align: right;
  }
  #about .credits a {
    color: var(--color);
  }
  
  .profile {
    width: 80%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-left p, .text-right p {
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}
